  <header class="main_menu">
    <div class="main_menu_Int">
      <nav class="menu">
        <ul class="list_menu">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!--Fim do header-->
  <div class="article_main">
    <div class="article_main_Int">
      <section class="container">
        <article>
          <router-outlet></router-outlet>
        </article>
      </section>
    </div>
  </div>